<section class="taskapp">
  <header class="header">
    <h1>Task Guide</h1>
    <input class="new-task" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newNote.title" (keyup.enter)="addNoteObject()">
  </header>
  <section class="main" *ngIf="tasks.length > 0">
    <ul class="task-list">
      <li *ngFor="let task of tasks" [class.completed]="task.complete_flag">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleNoteObjectComplete(task)" [checked]="task.complete_flag">
          <label>{{task.title}}</label>
          <button class="destroy" (click)="removeNoteObject(task)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="tasks.length > 0">
    <span class="task-count"><strong>{{tasks.length}}</strong> {{tasks.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
